/*
 *= require jquery-ui
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "components/data_table";

.nowrap {
  white-space: nowrap;
}

$width-medium: 30px;

.page-title {
  margin-bottom: $width-medium;
}

.deployment-key-form {
  margin-bottom: $width-medium;
}
